@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";

/* Component */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-rows.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chatting.css";

body {
    color: #2e363e;
    font-family: "Open Sans", sans-serif;
}

.main-screen {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
    padding-top: 70px;
    padding-bottom: 100px;
}

.welcome-header {
    margin: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    font-size: 25px;
    margin-bottom: 20px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}